.cms-index-index .page-title-wrapper {
    display: none;
}
li {
    list-style: none;
}
.products-grid .owl-theme .owl-nav [class*='owl-'],.products-grid .owl-theme .owl-nav [class*='owl-']:hover{
   width: 30px;
   height: 74px;
   margin: -40px 0 0;
   display: block;
   background: url(../images/blackbg_direction_nav.png) no-repeat 0 0;
   position: absolute;
   top: 50%;
   z-index: 2;
   cursor: pointer;
   text-indent: -9999px;
   opacity: 1;
   -webkit-transition: all .3s ease;
}

.products-grid .owl-theme .owl-nav [class*='owl-'].disabled{	
    opacity: 0;	
}
.products-grid .owl-theme .owl-nav .owl-prev{
	left:0px;
}
.products-grid .owl-theme .owl-nav .owl-next,.products-grid .owl-theme .owl-nav .owl-next:hover{
	background-position: 100% 0;
    right: 0px;
}
.products-grid .owl-theme .owl-dots{
	position: absolute;
    bottom: 10px;
    width: 100%;
	display:none;
}

.catalog-product-view .owl-nav {
    display: none;
}
.products-grid .product-item-info,
.products-grid .product-item-info:hover, 
.products-grid .product-item-info.active{
	padding: 9px;
    margin: 0px 0px;
}

.products-grid .product-item-info{
	border: 1px solid transparent;
}

.columns .column.main .product-items{
	margin:0px auto;
}

.product-item-actions .actions-primary{
	display:block;
}
@media (max-width: 1240px){
	.products-grid .owl-theme .owl-nav .owl-prev{
		left:0px;
	}
	.products-grid .owl-theme .owl-nav .owl-next,.products-grid .owl-theme .owl-nav .owl-next:hover{
		background-position: 100% 0;
	    right: 0px;
	}
}

@media (max-width: 768px){
	.small_bannerlist_box{
		list-style: none;
		height:32em;
	}
	.owl-theme .owl-nav .owl-prev{
		left:15px;
	}
	.owl-theme .owl-nav .owl-next, .owl-theme .owl-nav .owl-next:hover{
	    background-position: 100% 0;
    	right: 15px;
	}
	.products-grid .owl-theme .owl-nav .owl-prev{
		left:0px;
	}
	.products-grid .owl-theme .owl-nav .owl-next,.products-grid .owl-theme .owl-nav .owl-next:hover{
		background-position: 100% 0;
	    right: 0px;
	}
}

@media (max-width: 480px){
	.owl-theme .owl-nav .owl-prev{
		left:0px;
	}
	.owl-theme .owl-nav .owl-next, .owl-theme .owl-nav .owl-next:hover{
	    background-position: 100% 0;
    	right: 0px;
	}
}

.col-xs-12 {
    width: 100%;
}
.footer_info_box {
    text-align: center;
}
.page-footer .footer-top, .page-footer .footer-center, .page-footer .footer-bottom {
    width: calc(100% / 3);
    float: left;
}
.footer.content .footer_info_box h5, .footer.content .footer_info_box h4, .footer.content .footer_info_box h3, .footer.content .footer_info_box h2, .footer.content .footer_info_box h1 {
    margin-bottom: 30px !important;
    text-transform: uppercase;
    font-size: 18px;
}
.footer.content .footer_info_box ul li a {
    text-transform: uppercase;
    font-size: 14px;
}

.footer .copyright, .footer .bugs {
    display: block;
    margin: 20px 0 0;
}
.block.newsletter{
	display: none;
}
.footer_info_box {
    background-color: #f4f4f4;
    color: #333;
    display: block;
    padding: 10px;
    text-align: center;
}
.copyright{
	background-color: #f4f4f4;
	color: #333;
}

.cms-index-index h1 {
	text-align: center;
    text-shadow: none;
	font-size: 3.6rem;
	margin-bottom: 1rem;
	color: #F49D40;
	text-transform: uppercase;
	font-weight: 400;
	padding-top: 20px;
}

.flex-control-nav{
	display: none;
}

.nav-sections .navigation li.level0:first-child a, .nav-sections .navigation li.level0 a {
    border: 0px !important;
}

.section-item-content .navigation {
    left: 0px;
    background: transparent;
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding: 0px;
}
.sections.nav-sections {
	background: transparent;
    margin-bottom: 0px;
}

