<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <alipay>
                <active>1</active>
                <model>Haosuo\Alipay\Model\Alipay</model>
                <order_status>pending</order_status>
                <title>Alipay</title>
                <allowspecific>0</allowspecific>
                <app_id>0</app_id>
                <merchant_private_key>0</merchant_private_key>
                <alipay_public_key>0</alipay_public_key>
                <notify_url>0</notify_url>
                <return_url>0</return_url>
                <gateway_url>0</gateway_url>
            </alipay>
        </payment>
    </default>
</config>
