<!--preference(重写前的类);type(重写后的类)-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
        <preference for="Haosuo\Alipay\Api\AlipayServiceInterface" type="Haosuo\Alipay\Model\AlipayService" />
</config>
