<!--preference(重写前的类);type(重写后的类)-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<!--    <preference for="Magento\Integration\Model\CustomerTokenService" type="MagentoRewrite\Integration\Model\CustomerTokenService" />-->
<!--    <preference for="Magento\Integration\Model\AdminTokenService" type="MagentoRewrite\Integration\Model\AdminTokenService" />-->

    <preference for="Magento\Integration\Api\CustomerTokenServiceInterface" type="MagentoRewrite\Integration\Model\CustomerTokenService" />
    <preference for="Magento\Integration\Api\AdminTokenServiceInterface" type="MagentoRewrite\Integration\Model\AdminTokenService" />
</config>
