<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="custom" translate="label" sortOrder="450">
            <label>custom</label>
        </tab>
        <section id="article" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Article</label>
            <tab>custom</tab>
            <resource>Haosuo_Article::config_customArticles</resource>

            <group id="special_categories" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Special Categories Settings</label>
                <field id="home_product_slider_category" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Homepage Product Slider Category</label>
                    <source_model>Haosuo\Article\Model\Config\Source\Categorylist</source_model>
                </field>
            </group>
        </section>
    </system>

</config>
