<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
    	<!-- 定义路由名称，frontName就是后台路由的模块名字，比如xxx.com/demoadmin/index/index -->
        <route id="demoadmin" frontName="demoadmin">
            <module name="Zou_Demo" before="Magento_Backend" />
        </route>
    </router>
</config>
