<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="zou" translate="label" sortOrder="450">
            <label>zou</label>
        </tab>
        <section id="demo" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Demo</label>
            <tab>zou</tab>
            <resource>Zou_Demo::config_physicalStores</resource>
            <group id="physicalstores" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PhysicalStores</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="0"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="custom_field1_desc" translate="label comment" type="textarea" sortOrder="10"  showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Custom Field #1's Description</label>
                    <comment><![CDATA[This will show below the Custom Field #1's input in Physical Store Add/Edit page.]]></comment>
                </field>
                <field id="custom_field2_desc" translate="label comment" type="textarea" sortOrder="20"  showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Custom Field #2's Description</label>
                    <comment><![CDATA[This will show below the Custom Field #2's input in Physical Store Add/Edit page.]]></comment>
                </field>
            </group>
            <group id="implement" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Implement Code</label>
                <frontend_model>Zou\Demo\Block\Adminhtml\System\Config\Implementcode</frontend_model>
            </group>
            
            <group id="special_categories" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Special Categories Settings</label>
                <field id="home_product_slider_category" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Homepage Product Slider Category</label>
                    <source_model>Zou\Demo\Model\Config\Source\Categorylist</source_model>
                </field>
            </group>
        </section>
    </system>
    	
</config>
